.playing {
  background: pink;
}
.solved {
  background: lightGreen;
}

#wordsContainer {
  font-size: 18pt;
  font-family: monospace;
}

.underscore {
  /*padding-left: 2px;
  padding-right: 2px;*/
}