@(websocketUrl: String)

@main("WordGuess - Players") {

    <script>
        var wsUri = "@websocketUrl";
    </script>

    <div class="container">
      <div>
        <h1>WordGuess Players</h1>
      </div>
  
      <div class="row">
          <div class="col-md-4">
              <table class="table-striped table table-condensed" id="players-table">
                  <thead>
                      <tr>
                          <th>Name</th>
                          <th>Solved</th>
                          <th>Active</th>
                      </tr>
                  </thead>
                  <tbody>
                  </tbody>
              </table>
              <table class="table-striped table table-condensed" id="status-table">
                <thead>
                </thead>
                <tbody>
                </tbody>
              </table>
          </div>
          <div class="col-md-8"></div>
      </div>
    </div>

}
