@(websocketUrl: String)

@main("WordGuess - Live Feed") {

    <script>
        var wsUri = "@websocketUrl";
    </script>

    <div class="container">
      <div>
        <h1>WordGuess Live Feed</h1>
      </div>
  
      <div class="row">
          <div class="col-md-4">
            <table class="table-striped table table-condensed" id="status-table">
                <thead>
                </thead>
                <tbody>
                  <table class="table-striped table" id="players-table">
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Games</th>
                              <th>Active</th>
                          </tr>
                      </thead>
                      <tbody>
                      </tbody>
                  </table>                    
                </tbody>
            </table>
          </div>
          <div class="col-md-8" id="wordsContainer">
            
          </div>
      </div>
    </div>

}
